/* custom style scroll bar */
:root {
    --scrollbar-thumb-color: #ff0066;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 10px;
}
