/* custom style scroll bar */

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #00d6f4;
    border-radius: 10px;
}
